<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todo</title>
</head>
<body>
    <div id="app">
        <h1>TodoList App</h1>
        <div>할일 작성후 엔터입력하십시오.</div>
        <input type="text" 
        v-model="inputText"
        v-on:keyup.enter="addItem">
        <button v-on:click="fetchItems">add</button>
        <div>{{todoItems}}</div>
        <ul>
            <li v-for="(todoItem, index) in todoItems">
                {{todoItem}}
                <button v-on:click="removeItem(todoItem, index)">remove</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el : '#app',
            data : {
                inputText : '',
                todoItems : []
            },
            created : function() {
                this.fetchItems();
            },
            methods : {
                addItem : function (event){
                    //if (event.keyCode == 13) {
                    console.log('add');
                    var value = this.inputText;
                    localStorage.setItem(value,value);
                    this.inputText='';
                    this.todoItems.push(value);
                    //axios.post('주소',this.inputText)
                   //}
                },
                fetchItems : function() {
                    for (var i=0 ; i < localStorage.length; i++ ){
                        var value = localStorage.key(i);
                        console.log(value);
                        this.todoItems.push(value);
                        this.inputText='';
                    }
                    //axios.get('/todos')
                },
                removeItem : function(todoItem, index) {
                    //axios.delete('todos/' + index)
                    console.log('removed');
                    this.todoItems.splice(index,1);
                    localStorage.removeItem(todoItem);
                    //axios.get('/todos')
                }
            }
        })
    </script> 

</body>
</html>